<div class="question">
  <h2><%= @question.title %></h2>
  <p><%= @question.content %></p>
  <p>You can come back to your question at:
    <%= link_to request.original_url, questions_path(@question) %>
    <p>Tags: <%= @question.all_tags %>
<% if current_user == @question.user %>
<%= link_to 'Edit', edit_question_path %>
<%= link_to 'Delete', question_path, method: :delete %>
<% end %>
<%= link_to 'Back', questions_path %>
<%= link_to 'Answer this question', new_question_answer_path(@question) %>
<%= link_to 'Comment', new_question_comment_path(@question) %>

<h3>Comments</h3>
<ul>
	<% @comments.each do |comment| %>
	<li><%= comment.content%></li><br>
	<% end %>
</div>

<div class='answers'>
<h3>Answers</h3>
<ul>
		<% @answers.each do |answer| %>
		<li><%= answer.content%><br />
		<br />
		by <%= link_to answer.user.full_name, user_path(answer.user) %><br />
		<br />
		<% if current_user == answer.user %>
		<%= link_to 'Edit my answer', edit_answer_path(answer) %>
		<%= link_to 'Delete my answer', answer_path, method: :delete %>
		<% end %>

		</li>
		<li>
			<%= link_to 'Comment', new_answer_comment_path(answer) %>
		</li>

	<div class='comments'>
		<h4>Comments</h4>
		<% answer.comments.each do |comment| %>
		<li><%= comment.content%></li>
		<% end %>
	</div>
		<br />
	<% end %>
</ul>
</div>