<div ="questions_container">
  <% if @user == current_user %>
  <h1>Welcome, <%= @user.first_name + " " + @user.last_name %>, here are your questions:</h1>
  <% end %>

  <h3>My questions</h3>
    <% unless @questions.length == 0 %>
  <ul>
  <% @questions.each do |question| %>
    <li>
    <h2><%= link_to question.title, question_path(question) %></h2>
    <%= question.content %>
    </li>
    </br>
    Tags: <%= question.all_tags %>
  <% end %>
  <% else %>
    <p>You have no active questions.
  <% end %>
  </ul>

  <h3>My answers</h3>
  <ul>
    <% @answers.each do |answer| %>
    <li><%= answer.content %><br />
    <%= link_to 'Go to the question', question_path(answer.question) %>
    </li>
    <br />
    <% end %>
  </ul>

  <h3>All Questions I've answered</h3>
  <ul>
    <% answered_questions.each do |question| %>
    <li><%= link_to question.title, question_path(question) %> by <%= link_to question.user.full_name, user_path %>
    </li>
    <br />
    <% end %>
  </ul>
